.platform-content{
  background-color: #fff;
  padding: 130px 0 140px 0;

  .item{
    text-align: center;
    height: 330px;
    max-width: 330px;
    border-radius: 6px;
    border: 1px #f4d3cd solid;

    &:nth-of-type(1){
      background-color: #FCF3F2;
      border: 1px #FCF3F2 solid;
    }

    .img{
      margin: 45px 0 31px 0;
    }

    .button{
      margin-top: 41px;

      &.join{
        background-color: #c93113;
        border-color: #c93113;

        &:hover{
          opacity: 0.7;
        }

        &:active{
          color: #c93113;
          background-color: #fff;
          border-color: #c93113;
        }

      }

      &:not(.join):hover{
        color: #c93113;
        background-color: #fff;
        border-color: #c93113;
      }

      &:not(.join):active{
        background-color: #c93113;
        border-color: #c93113;
        color: #fff;
      }

      &:not(.join):visited,&:not(.join):focus{
        color: #c93113 !important;
        background-color: #fff;
        border-color: #c93113 !important;
      }
    }

  }

}