.chains-content{
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 340px;

  .BreadcrumbItem:hover{
    color: #c93113;
  }

  .title{
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: -10px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #333333;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px #f4d3cd solid;
    border-radius: 6px;
    padding:20px;
    margin-top: 40px;

    .left{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }

      .name{
        font-size: 30px;
        color: #333333;
      }

      .desc{
        margin-top: 30px;
        font-size: 16px;
      }

      .view{
        margin-top: 20px;
        font-size: 14px;
        color: #c93113;
      }
    }
  }

  .tables-data{
    padding: 30px 0;
  }

  .chains-intent{
    margin-top: 65px;
  }

  .chains-intent-item{
    height: 160px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 38px 20px 0 20px;

    .img{
      margin-right: 20px;
    }

    &:nth-of-type(1){
      background-color: #FCF3F2;
      border:1px #FCF3F2 solid;
      border-radius: 6px;

      .img{
        width: 50px;
        height:54px;
      }
    }

    &:nth-of-type(2){
      border:1px #f4d3cd solid;
      border-radius: 6px;

      .img{
        width: 50px;
        height:51px;
      }
    }

    .name{
      font-size: 30px;
      color: #333333;
    }

    .intro{
      font-size: 16px;
      margin-top: 30px;
      line-height: 1.5;
      //line-height: 50px;
    }
  }
}